* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
}
.section2 {
  width: 100%;
  background-color: rgba(88, 88, 88, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  width: 350px;
}
.section3 {
  width: 100%;
  display: grid;
  grid-template-columns: 34% 22% 43%;
  grid-template-rows: 80px;
  gap: 3px;
  margin-top: 3px;
}
.sec-3__div-1 {
  background-color: #7ee5da;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-3__div-2 {
  background-color: #70ccc2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.sec-3__div-3 {
  background-color: #62b3aa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input2 {
  width: 200px;
}
button {
  padding: 0px 5px;
}
.section4 {
  margin-top: 30px;
}
